html{
	background: url('../images/editBG-big.jpg') no-repeat center center fixed;
	background-size:cover;
	@media screen and (max-width:1024px){
		background: url('../images/editBG-medium.jpg') no-repeat center center fixed;
		background-size: cover;
		background-color:black;
	}
	@media screen and (max-width:500px){
		background: url('../images/editBG-mobile.jpg') no-repeat center center fixed;
		background-size: cover;
		background-color:black;
	}
}
body{
	padding:75px 0 0 0;
}
.editList{
	margin-top:0;
	.input:first-of-type{
		margin-top:0;
	}
}