@import "variables";
html{
	background: url('../images/listBG-big.jpg') no-repeat center center fixed;
	background-size:cover;
	@media screen and (max-width:1024px){
		background: url('../images/listBG-medium.jpg') no-repeat center center fixed;
		background-size: cover;
		background-color:black;
	}
	@media screen and (max-width:790px){
		background:black;
	}
}

.wrapper{
	width:95%;
	margin: 0 auto;
	@media screen and (max-width:790px){
		width: 100%;
	}
}
header{
	height:32px;
	width: 320px;
	background:lighten($primary,45%);
	border-radius:0 0 10px 0;
	form#logout{
		display:inline-block;
		margin: -2px 0 0 0;
		input[type="submit"]{
			border:none;
			height:32px;
			color: $primaryDrk;
			background: lighten($primary,30%);
			padding: 6px 20px 7px 20px;
			font:300 14px 'Open Sans', sans-serif;
			border-right: 1px solid $primaryDrk;
			text-shadow:none;
			transition:all 175ms;
			&:hover{
				background:lighten($primary,20%);
				color:$primaryDrk;
				text-shadow:none;
			}
		}
	}
	.welcome{
		font:300 14px 'Open Sans', sans-serif;
		color: $primaryDrk;
		margin: 0 0 0 -6px;
		height: 32px;
		padding: 6px 75px 7px 25px;
		text-shadow:0 1px 0 lighten($primary,50%);
		display:inline-block;
	}
}
h1{
	text-align: center;
	margin:50px 0 3px 0;
	font: normal 50px 'Oleo Script Swash Caps',sans-serif;
	color: darken(white,0%);
	text-shadow:0 1px 0 darken($primaryDrk,10%);
	letter-spacing: 2px;
	@media screen and (max-width:650px){
		margin-top: 20px;
	}
}
.tableWrap{
	margin:0 auto;
	overflow:auto;
	max-height:500px;
	overflow-x:hidden;
	@media screen and (max-width:790px){
		overflow:visible;
		width: 100%;
		max-height: 95%;
	}
}
table.theList{
	border-collapse:collapse;
	margin: 0 auto;
	background:rgba(255,255,255,.75);
	@media screen and (max-width:790px){
		width: 100%;
	}
	thead{
		@media screen and (max-width:790px){
			display: block;
			position: absolute;
			top: -9999px;
			left: -9999px;
		}
	}
	thead th{
		background:darken(white,20%);
		color:white;
		padding:5px 10px;
		font:800 13px 'Open Sans', sans-serif;
		color: darken(white,80%);
		text-shadow:0 1px 0 white;
		border-right:1px solid darken(white,30%);
		&:last-of-type{
			border-right:none;
		}
	}
	tr{
		border-bottom:1px solid darken(white,20%);
		cursor: pointer;
		@media screen and (max-width:790px){
			width:100%;
		}
		&:hover{
			background: lighten($primary,60%);
		}
	}
	td{
		text-align:center;
		padding:5px 10px;
		border-right:1px solid darken(white,20%);
		@media screen and (max-width:790px){
			display: block;
			position:relative;
			border-bottom:1px solid darken(white,20%);
			width: 75%;
			margin-left:25%;
			text-align:left;
			min-height:34px;
		}
		&:last-of-type{
			border-right:none;
			@media screen and (max-width:790px){
				border-right:1px solid darken(white,20%);
			}
		}
		&:before{
			@media screen and (max-width:790px){
			content: attr(data-title);
			font-family: sans-serif;
			text-align:right;
			position: absolute;
			left: -34%;
			top: 0;
			display:block;
			width: 31%;
			min-height:34px; 
			white-space: nowrap;
			padding:5px;
			background: darken(white,30%);
		}
		}
	}
	td.desc{
		width: 250px;
		text-align: left;
		@media screen and (max-width:790px){
			width: 75%%;
		}
	}

	.bullet{
		font-family:'print',sans-serif;
	}
	a{
		text-decoration:none;
		color: $primaryDrk;
		font-weight:300;
		&:hover{
			text-shadow: 0 0 2px $primary;
		}
	}
	.alerted{
		background:lighten($accent,20%);
	}
	.message{
		color:darken($alert,15%);
	}
}
tr:nth-child(odd){
	background: rgba(255,255,255,.6);
}




footer{
	position:fixed;
	bottom:0;
	left:0;
	width: 35%;
	margin: 0;
	padding: 5px 0 6px 20px;
	border-radius:0 10px 0 0;
	background: darken($alert,20%);
	@media screen and (max-width:790px){
		position:static;
		display: none;
	}
	p{
		display:inline-block;
		color: lighten($accent,20%);
		font: normal 20px 'Flamenco', serif;
		margin:0;
		padding: 0;
	}
	button{
		border:none;
		background: darken($alert,25%);
		color: lighten($accent,30%);
		font:400 15px 'Open Sans', sans-serif;
		padding: 5px 20px;
		margin: 0 3px;
		transition:all 200ms;
		border-radius:2px;
		@media screen and (max-width:650px){
			display: block;
			width: 90%;
			margin:2px auto;
		}
		&:hover{
			background: darken($alert,30%);
			box-shadow:inset 0 0 10px darken($alert,40%);
		}
		&:active{
			background: darken($alert,40%);
			box-shadow:inset 0 0 15px darken($alert,60%);
		}
	}
	@media all and (max-width:1175px){
		width: 50%;
	}
	@media all and (max-width:835px){
	width: 100%;
	border-radius: 0;
	}
}
.adminButton{
	position: fixed;
	top: 0;
	right: 75px;
	margin: 0;
	font:normal 30px 'print', sans-serif;
	color: lighten($accent,30%);
	border:none;
	background: darken($alert,25%);
	background:linear-gradient(to top, darken($alert,25%)0%, darken($alert,25%)90%, darken($alert,40%)100%);
	padding: 12px 6px 0px 6px;
	border-radius:0 0 2px 2px;
	opacity: .5;
	transition:all 200ms;
	@media screen and (max-width:790px){
		display:none;
	}
	&:hover{
		opacity:1;
	}
	&:active{
	background:linear-gradient(to top, darken($alert,25%)0%, darken($alert,25%)20%, darken($alert,40%)100%);
	color:lighten($accent,35%);	
	}
}


