/* line 2, list.scss */
html {
  background: url("../images/listBG-big.jpg") no-repeat center center fixed;
  background-size: cover;
}
@media screen and (max-width: 1024px) {
  /* line 2, list.scss */
  html {
    background: url("../images/listBG-medium.jpg") no-repeat center center fixed;
    background-size: cover;
    background-color: black;
  }
}
@media screen and (max-width: 500px) {
  /* line 2, list.scss */
  html {
    background: url("../images/listBG-mobile.jpg") no-repeat center center fixed;
    background-size: cover;
    background-color: black;
  }
}

/* line 17, list.scss */
.wrapper {
  width: 95%;
  margin: 0 auto;
}

/* line 21, list.scss */
header {
  height: 32px;
  width: 320px;
  background: #a7e4dc;
  border-radius: 0 0 10px 0;
}
/* line 26, list.scss */
header form#logout {
  display: inline-block;
  margin: -2px 0 0 0;
}
/* line 29, list.scss */
header form#logout input[type="submit"] {
  border: none;
  height: 32px;
  color: #3a4a3d;
  background: #6dd2c4;
  padding: 6px 20px 7px 20px;
  font: 300 14px 'Open Sans', sans-serif;
  border-right: 1px solid #3a4a3d;
  text-shadow: none;
  transition: all 175ms;
}
/* line 39, list.scss */
header form#logout input[type="submit"]:hover {
  background: #46c6b5;
  color: #3a4a3d;
  text-shadow: none;
}
/* line 46, list.scss */
header .welcome {
  font: 300 14px 'Open Sans', sans-serif;
  color: #3a4a3d;
  margin: 0 0 0 -6px;
  height: 32px;
  padding: 6px 75px 7px 25px;
  text-shadow: 0 1px 0 #bbeae4;
  display: inline-block;
}

/* line 56, list.scss */
h1 {
  text-align: center;
  margin: 50px 0 3px 0;
  font: normal 50px 'Oleo Script Swash Caps',sans-serif;
  color: white;
  text-shadow: 0 1px 0 #242d25;
  letter-spacing: 2px;
}
@media screen and (max-width: 650px) {
  /* line 56, list.scss */
  h1 {
    margin-top: 20px;
  }
}

/* line 67, list.scss */
.tableWrap {
  margin: 0 auto;
  overflow: auto;
  max-height: 500px;
  overflow-x: hidden;
}
@media screen and (max-width: 700px) {
  /* line 67, list.scss */
  .tableWrap {
    overflow: visible;
  }
}

/* line 76, list.scss */
table.theList {
  border-collapse: collapse;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.75);
}
@media screen and (max-width: 700px) {
  /* line 76, list.scss */
  table.theList {
    display: block;
    width: 100%;
  }
}
@media screen and (max-width: 700px) {
  /* line 84, list.scss */
  table.theList thead {
    display: block;
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
}
/* line 92, list.scss */
table.theList thead th {
  background: #cccccc;
  color: white;
  padding: 5px 10px;
  font: 800 13px 'Open Sans', sans-serif;
  color: #333333;
  text-shadow: 0 1px 0 white;
  border-right: 1px solid #b3b3b3;
}
/* line 100, list.scss */
table.theList thead th:last-of-type {
  border-right: none;
}
/* line 104, list.scss */
table.theList tr {
  border-bottom: 1px solid #cccccc;
  cursor: pointer;
}
/* line 107, list.scss */
table.theList tr:hover {
  background: #e2f6f3;
}
/* line 111, list.scss */
table.theList td {
  text-align: center;
  padding: 5px 10px;
  border-right: 1px solid #cccccc;
}
@media screen and (max-width: 700px) {
  /* line 111, list.scss */
  table.theList td {
    display: block;
    position: relative;
    border: 1px solid #cccccc;
  }
}
/* line 120, list.scss */
table.theList td:last-of-type {
  border-right: none;
}
@media screen and (max-width: 700px) {
  /* line 120, list.scss */
  table.theList td:last-of-type {
    border-right: 1px solid #cccccc;
  }
}
@media screen and (max-width: 700px) {
  /* line 126, list.scss */
  table.theList td:before {
    content: attr(data-title);
    font-family: sans-serif;
    text-align: left;
    position: absolute;
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    padding-left: 5px;
    border-right: 1px solid #999999;
    background: #b3b3b3;
  }
}
/* line 143, list.scss */
table.theList td.desc {
  width: 250px;
  text-align: left;
}
/* line 148, list.scss */
table.theList .bullet {
  font-family: 'print',sans-serif;
}
/* line 151, list.scss */
table.theList a {
  text-decoration: none;
  color: #3a4a3d;
  font-weight: 300;
}
/* line 155, list.scss */
table.theList a:hover {
  text-shadow: 0 0 2px #277f73;
}
/* line 159, list.scss */
table.theList .alerted {
  background: #f7d575;
}
/* line 162, list.scss */
table.theList .message {
  color: #c22d02;
}

/* line 166, list.scss */
tr:nth-child(odd) {
  background: rgba(255, 255, 255, 0.6);
}

/* line 173, list.scss */
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 35%;
  margin: 0;
  padding: 5px 0 6px 20px;
  border-radius: 0 10px 0 0;
  background: #a92702;
}
/* line 182, list.scss */
footer p {
  display: inline-block;
  color: #f7d575;
  font: normal 20px 'Flamenco', serif;
  margin: 0;
  padding: 0;
}
/* line 189, list.scss */
footer button {
  border: none;
  background: #902102;
  color: #fae3a5;
  font: 400 15px 'Open Sans', sans-serif;
  padding: 5px 20px;
  margin: 0 3px;
  transition: all 200ms;
  border-radius: 2px;
}
@media screen and (max-width: 650px) {
  /* line 189, list.scss */
  footer button {
    display: block;
    width: 90%;
    margin: 2px auto;
  }
}
/* line 203, list.scss */
footer button:hover {
  background: #761b02;
  box-shadow: inset 0 0 10px #441001;
}
/* line 207, list.scss */
footer button:active {
  background: #441001;
  box-shadow: inset 0 0 15px black;
}
@media all and (max-width: 1175px) {
  /* line 173, list.scss */
  footer {
    width: 50%;
  }
}
@media all and (max-width: 835px) {
  /* line 173, list.scss */
  footer {
    width: 100%;
    border-radius: 0;
  }
}

/* line 220, list.scss */
.adminButton {
  position: fixed;
  top: 0;
  right: 75px;
  margin: 0;
  font: normal 30px 'print', sans-serif;
  color: #fae3a5;
  border: none;
  background: #902102;
  background: linear-gradient(to top, #902102 0%, #902102 90%, #441001 100%);
  padding: 12px 6px 0px 6px;
  border-radius: 0 0 2px 2px;
  opacity: .5;
  transition: all 200ms;
}
@media screen and (max-width: 650px) {
  /* line 220, list.scss */
  .adminButton {
    right: 2px;
  }
}
/* line 237, list.scss */
.adminButton:hover {
  opacity: 1;
}
/* line 240, list.scss */
.adminButton:active {
  background: linear-gradient(to top, #902102 0%, #902102 20%, #441001 100%);
  color: #fbebbd;
}
